* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 60px !important;
  }

  .resultsTopmargin {
    margin-top: 220px;
    transition: .3s;
  }